*.DS_Store
# Labs no publicados aún
laboratorio_IaC/
laboratorio_aws/
laboratorio_azure_devops/
laboratorio_azure_pipelines/
laboratorio_docker/
laboratorio_docker_compose/
laboratorio_github_actions/
laboratorio_gitlab/
laboratorio_kubernetes/
laboratorio_mlops/
laboratorios_calificados/
laboratorios_devsecados/
laboratorios_devsecops/
terminal/laboratorio_3_1.md
terminal/laboratorio_3_2.md